__pycache__
*.pyc
*.egg-info
.ipynb_checkpoints
outputs/
datasets/*
!datasets/sacre_coeur/
!third_party/hfnet
third_party/d2net
third_party/deep-image-retrieval
third_party/disk
third_party/r2d2
third_party/SuperGluePretrainedNetwork
third_party/ZippyPoint
.idea
